<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
	<title>Active_Wizards_test_work</title>
	<link rel='stylesheet' type='text/css' href='assets/css/style.css'>
</head>
<body>
<script>
(function(){
	let users = [
					{"name":"Gary",
						"surname":"Busey",
						"email":"busey@mail.com",
						"status":true},
					{"name":"Jeff",
						"surname":"Bridges",
						"email":"bridges@mail.com",
						"status":false},
					{"name":"Michael",
						"surname":"Cimino",
						"email":"cimino@mail.com",
						"status":true},
					{"name":"Roger",
						"surname":"Corman",
						"email":"corman@mail.com",
						"status":true},
					{"name":"Don",
						"surname":"Rickles",
						"email":"don@mail.com",
						"status":false},
					{"name":"Harold J",
						"surname":"Stone",
						"email":"stone@mail.com",
						"status":true},
					{"name":"John",
						"surname":"Hoyt",
						"email":"hoyt@mail.com",
						"status":true},
					{"name":"Ray",
						"surname":"Milland",
						"email":"ray@mail.com",
						"status":false},
					{"name":"Bruno",
						"surname":"Dumont",
						"email":"dumont@mail.com",
						"status":true},
					{"name":"Alane",
						"surname":"Delhaye",
						"email":"alane@mail.com",
						"status":true},
					{"name":"Bernard",
						"surname":"Pruvost",
						"email":"bernard@mail.com",
						"status":true},
					{"name":"Lucy",
						"surname":"Caron",
						"email":"caron@mail.com",
						"status":true},
					{"name":"Philipe",
						"surname":"Jore",
						"email":"jore@mail.com",
						"status":false},
					{"name":"Robert",
						"surname":"Wiene",
						"email":"wiene@mail.com",
						"status":true},
					{"name":"Werner",
						"surname":"Krauss",
						"email":"krauss@mail.com",
						"status":true}
				];

	let courses = [
					{"name":"Python-Base",
						"id":"P012345"},
					{"name":"Python-Database",
						"id":"P654321"},
					{"name":"HTML",
						"id":"H123286"},
					{"name":"Java-Base",
						"id":"J151366"},
					{"name":"JavaScript-Base",
						"id":"JS321233"}
						];
	if (localStorage.getItem('users')==null) {
		let strngUsers = JSON.stringify(users);
		let strngCourses = JSON.stringify(courses);

		localStorage.setItem('users',strngUsers);
		localStorage.setItem('courses',strngCourses);
		
		console.log(JSON.parse(localStorage.getItem('users')));
		console.log(JSON.parse(localStorage.getItem('courses')));
	}
})();
</script>

<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='https://unpkg.com/vue-router/dist/vue-router.js'></script>
<script type='text/x-template' id='header-template'>
	<header>
		<div id='container'>
			<a id='logo' href='https://ghettofun.github.io' target='_blank'>
				<img src='assets/images/ghett_logo.svg' alt='go_to_author_github'/>
			</a>
			<nav>
				<ul>
					<li><router-link to='/users'>Users</router-link></li>
					<li><router-link to='/courses'>Courses</router-link></li>
				</ul>
			</nav>
		</div>
	</header>
</script>
<script type='text/x-template' id='courses-template'>
	<div id='table-wrapper'>
		<div>Courses</div>
		<table>
			<tr v-for="course in courses">
				<td>{{ course.name }}</td>
				<td>{{ course.id }}</td>
			</tr>
		</table>
	</div>
</script>
<script type='text/x-template' id='users-template'>
	<div id='table-wrapper'>
		<div>Users</div>
		<table>
			<tr v-for="user in users">
				<td>{{ user.name }}&nbsp;{{ user.surname }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.status }}</td>
			</tr>
		</table>
	</div>
</script>


<div id='app'>
	<header-component></header-component>
	<main>
		<router-view></router-view>
	</main>
</div>


<script>
	Vue.component('header-component', {
		template: '#header-template'
	});
	const Users = { 
		data() {
			return {
				users: JSON.parse(localStorage.getItem('users'))
			}
		},
		template: '#users-template'
	}

	const Courses = { 
		data() {
			return {
				courses: JSON.parse(localStorage.getItem('courses'))
			}
		},
		template: '#courses-template' 
	}

	const routes = [
		{ path: '/users', component: Users },
		{ path: '/courses', component: Courses }
	]

	const router = new VueRouter({
		routes
	})

	const app = new Vue({
		router
	}).$mount('#app')
</script>


</body>
</html>