@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital@1&display=swap);

:root{
	overflow: hidden;
	--tree-scale:1;
	--tree-x-pos:0;
	--tree-y-pos:0;
	--cover-cololr:#ffffff;
}
body {
	background-color: var(--cover-cololr);
}
image {
	cursor:pointer;
}
svg {
	width:100%;
	height:100%;
}
#app {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#wrapper {
	width:100vw;
	height:100vw;
	transition: transform 200ms linear;
	transform:scale(var(--tree-scale)) translate(calc(var(--tree-x-pos) * 1px), calc(var(--tree-y-pos) * 1px));
	font-family: 'Roboto Condensed', sans-serif;
}
#wrapper path {
	fill:none;
	stroke:rgb(50,50,50);
	stroke-width:4px;
}

/*MODAL SECTION*/
#overlay {
	display:none;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
}
#modal {
	display:none;
	position:fixed;
	z-index:2;
	overflow-y: auto;
	top:0;
	left:0;
	margin:5vh 0vw 0vh 20vw;
	padding:0;
	width:60vw;
	height:90vh;
	background-color:white;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	font-family: 'Roboto', sans-serif;
}
#modal div {
	box-sizing: content-box;
	align-content:stretch;
}
h1,h2 {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	font-size:1.5em;
	margin:.6em .5em .2em .5em;
	padding:0;
}
p {
	margin:.5em;
}
#birth {
	padding:.2em 0em .1em 0em;
}
#death {
	padding:0em 0em .3em 0em;
}
#birth,#death p {
	font-size:1.1em;
	margin:0;
}
#cross {
	position: fixed;
	cursor:pointer;
	align-self:flex-end;
	width:2.2vw;
	height:2.2vw;
}
#cross path {
	fill:none;
	stroke:#307433;
	stroke-width:7px;
	stroke-linecap: butt;
}
#imageWrapper {
	margin:2vh 0vw 0vh 0vw;
}
#imageWrapper img {
	width:120px;
}
#education,#work,#hobbie,#bio {
	align-self:flex-start;
	padding: 0em 4em 0em 4em;
	margin: 0;
	font-size:1em;
}

@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
	#cross {width:2.6vw;height:2.6vw;}
}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 480px) {}

#widget {position:fixed;z-index:0;top:0px;right:0px;width:12vw;height:12vw;} 
#zoomInCover,#switcherFieldCover {fill:white;stroke:none;} 
#widgetFieldColor,#switcherField {fill:#42386b;	stroke:none;} 
#actionThumbs {transition:transform ease-in-out 250ms; transform-origin:39.7px 39.7px; transform:translate(29px,-30px) scale(0); transition:transform ease-in-out 450ms;} 
#widgetField {transform-origin:39.7px 39.7px; transform:scale(0); transition:transform ease-in-out 450ms;} 
#switcher,#switchWidgetCondition {transform:scale(.6) translate(86px,-36px);	transition:transform ease-in-out 250ms;} 
.widgetActive {transform:scale(1) translate(0px,0px) !important;} 
#actionThumbs,#switchWidgetCondition {cursor:pointer; fill:rgba(0,0,0,0);}
@media (min-width: 1281px) {#widget {width:12vw;height:12vw;}}
@media (min-width: 1025px) and (max-width: 1280px) {#widget {width:22vw;height:22vw;}}
@media (min-width: 768px) and (max-width: 1024px) {#widget {width:20vw;height:20vw;top:}}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {#widget {width:24vw;height:24vw;top:}}
@media (min-width: 481px) and (max-width: 767px) {#widget {width:30vw;height:30vw;}}
@media (min-width: 320px) and (max-width: 480px) {#widget {width:30vw;height:30vw;}}