<!DOCTYPE html>
<html>
<head>
	<title>three</title>
	<link rel='stylesheet' type='text/css' href='assets/css/style.css'>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<div id='app'>
	<div id='wrapper'>
		<svg viewBox='-450 1100 2500 1350' preserveAspectRatio='xMidYMax meet'>
			<g v-for='descent in treeData'>
				<path v-bind:d='descent.branches'/>
				<g class='icons'>
					<image width='120' v-for='(icon, i) in descent.icons' v-bind:href='"assets/images/treeIcons/"+icon+".png"' v-bind:x='descent.startPos[0]+200*i' v-bind:y='descent.startPos[1]' @click='openBio(icon)'/>
				</g>
			</g>
		</svg>
	</div>
	<div id='widget'>
		<svg viewBox='-3 212 88 88' preserveAspectRatio='xMidYMid meet'>
			<path id='widgetArrowsField' d='M 29.1,217.6 H 0 v 29.1 z m 21.2,0 h 29.1 v 29.1 z m -27.1,62.9 16.5,16.5 16.5,-16.5 -2.24508,-2.3 H 25.5 Z m -1e-6,-46.5 16.5,-16.5 16.5,16.5 -2.3,2.3 H 25.5 Z m -6.8,6.8 L 0,257.3 l 16.5,16.5 2.245077,-2.5 v -28.4 z m 46.5,0 16.5,16.5 -16.5,16.5 -2.3,-2.3 7e-6,-28.4 z' fill='#5b946b'/>
			<path id='widgetArrows' d='m 18.7,271.5 -14.2,-14.2 14.2,-14.2 z m 4.4,-51.5 h -20.6 v 20.6 z m 33.2,0 h 20.6 v 20.6 z m 4.4,51.5 14.2,-14.2 -14.2,-14.2 z m -35.2,6.8 14.2,14.2 14.2,-14.2 z m 0,-42 14.2,-14.2 14.2,14.2 z' fill='#42386b'/>

			<g id='widgetSwitcher'>
				<rect id='svitcherField' width='21.7' height='21.7' x='-164.7' y='199.2' transform='rotate(-45)'/>
				<circle cx='39.7' cy='257.3' r='1.6' />
				<path id='switcherArrow' d='m 34.395844,251.23699 -6.075457,6.07546 6.075457,6.07546 z'/>
				<use href='#switcherArrow' transform-origin='39.7 257.3' transform='rotate(90)'/>
				<use href='#switcherArrow' transform-origin='39.7 257.3' transform='rotate(180)'/>
				<use href='#switcherArrow' transform-origin='39.7 257.3' transform='rotate(270)'/>
			</g>

			<g id='actionThumbs'>
				<use id='switchWidgetCondition' href='#svitcherField'/>
				<path id='zoomIn' d='M 29.104168,217.62494 H 0 v 29.10417 z'/>
				<use id='zoomOut' href='#zoomIn' transform-origin='39.7 257.3' transform='rotate(90)'/>
				<path id='moveLeft' d='M 0,257.3 l 16.5,-16.5 2.3,2.3 0,28.3 -2.3,2.3 z'/>
				<use id='moveTop' href='#moveLeft' transform-origin='39.7 257.3' transform='rotate(90)'/>
				<use id='moveRight' href='#moveLeft' transform-origin='39.7 257.3' transform='rotate(180)'/>
				<use id='moveBottom' href='#moveLeft' transform-origin='39.7 257.3' transform='rotate(270)'/>
			</g>
		</svg> 
	</div>
	<div id='overlay' @click='closeBio()'></div>
	<div id='modal' v-if='currentPerson!=null'>
		<div id='cross' @click='closeBio()'>
			<svg viewBox='-10 -10 70 70' preserveAspectRatio='xMidYMid meet'>
				<path d='M 0,0 l 50,50 M 50,0 l -50,50'/>
			</svg>
		</div>
		<div id='imageWrapper'>
			<img :src='"assets/images/treeIcons/"+currentPerson+".png"' width='120px'/>	
		</div>
		<div id='name'>
			<h1 v-if='bios[currentPerson].surname!=null'>{{ bios[currentPerson].surname }} {{ bios[currentPerson].name }} {{ bios[currentPerson].middlename }}</h1>
		</div>
		<div id='birth'>
			<p v-if='bios[currentPerson].birth!=null'>{{ bios[currentPerson].birth }} {{ bios[currentPerson].birthPlace }}</p>
		</div>
		<div id='death'>
			<p v-if='bios[currentPerson].deathPlace!=null'> {{ bios[currentPerson].death }} {{ bios[currentPerson].deathPlace }}</p>
		</div>
		<div id='education' v-if='bios[currentPerson].education!=null'>
			<p>Образование: {{ bios[currentPerson].education }}</p>
		</div>
		<div id='work' v-if='bios[currentPerson].profession!=null'>
			<p>Профессии: {{ bios[currentPerson].profession }}</p>
		</div>
		<div id='hobbie' v-if='bios[currentPerson].hobbie!=null'>
			<p>Увлечения: {{ bios[currentPerson].hobbie }}</p>
		</div>
		<div id='bio' v-if='bios[currentPerson].bio!=null'>
			<p>{{ bios[currentPerson].bio }}</p>
		</div>
	</div>
	<div id='modal' v-else></div>
</div>
<script type='text/javascript' src='assets/data/bios.js'></script>  
<script>
var preventModal=false;

const app = {
	data() {
		return {
			treeData: treeData,
			currentPerson: 'ivanitskayaAnna',
			bios: personsData
		}
	},
	methods: {
		openBio(id) {
			if (preventModal==false) {
				this.currentPerson = id;
				document.getElementById('overlay').style.display='block';
				document.getElementById('modal').style.display='flex';
			}
		},
		closeBio() {
			document.getElementById('overlay').style.display='none';
			document.getElementById('modal').style.display='none';
		}
	}
};

Vue.createApp(app).mount('#app');

var tree = document.getElementById('wrapper');
var root_style = getComputedStyle(document.documentElement);
var overlay = document.getElementById('overlay');
window.addEventListener('wheel',e => {
	if (overlay.style.display!='block') {
		let tree_scale = parseFloat(root_style.getPropertyValue('--tree-scale')),
				tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
				tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos')),
				win_width = window.innerWidth,
				win_height = window.innerHeight,
				cursor_x = e.clientX,
				cursor_y = e.clientY;
		if (e.deltaY<0&&tree_scale<=6) {
			document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos-(cursor_x-win_width/2)/10));
			document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos-(cursor_y-win_height/2)/10));
			document.documentElement.style.setProperty('--tree-scale', tree_scale+.1);
		}
		else if (e.deltaY>0&&tree_scale>0) {
			document.documentElement.style.setProperty('--tree-scale', tree_scale-.1);
		}
	}
});

window.addEventListener('mousedown',e => {
	let cursor_x_start = e.clientX,
			cursor_y_start = e.clientY;
			tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
			tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos'));
	window.onmousemove = (e) => {
		document.documentElement.style.cursor='move';
		preventModal=true;
		let translation_x = e.clientX-cursor_x_start,
				translation_y = e.clientY-cursor_y_start;
		document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos+translation_x));
		document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos+translation_y));
	};
});

window.addEventListener('mouseup',e => {
	window.onmousemove = null;
	setTimeout(()=>{preventModal=false;},400);
	document.documentElement.style.cursor='default';
});


const widgetAction = (id) => {
	let tree_scale = parseFloat(root_style.getPropertyValue('--tree-scale')),
			tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
			tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos'));
	switch(id) {
	  case 'switchWidgetCondition':
	  	document.getElementById('widgetSwitcher').style.display='none';
	  	console.log(id);
	    break;
	  case 'zoomIn':
			document.documentElement.style.setProperty('--tree-scale', tree_scale-.2);
	    break;
	  case 'zoomOut':
			document.documentElement.style.setProperty('--tree-scale', tree_scale+.2);
	    break;
	  case 'moveLeft':
			document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos+200/Math.floor(tree_scale)));
	    break;
	  case 'moveTop':
			document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos+200/Math.floor(tree_scale)));
	    break;
	  case 'moveRight':
			document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos-200/Math.floor(tree_scale)));
	    break;
	  case 'moveBottom':
			document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos-200/Math.floor(tree_scale)));
	    break;
	  default:
	  	console.log('hm...something wrong...',id);
	    break;
	}
}
document.getElementById('actionThumbs').addEventListener('click',(e)=>{
	widgetAction(e.target.id);
},false);
</script>
</body>
</html>