<!DOCTYPE html>
<html>
<head>
	<title>three</title>
	<link rel='stylesheet' type='text/css' href='assets/css/style.css'>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<div id='app'>
	<div id='wrapper'>
		<svg id='tree' viewBox='-450 1100 2500 1350' preserveAspectRatio='xMidYMax meet'>
			<g v-for='descent in treeData'>
				<path v-bind:d='descent.branches'/>
				<g class='icons'>
					<image width='120' v-for='(icon, i) in descent.icons' v-bind:href='"assets/images/treeIcons/"+icon+".png"' v-bind:x='descent.startPos[0]+200*i' v-bind:y='descent.startPos[1]' @click='openBio(icon)'/>
				</g>
			</g>
		</svg>
	</div>
<!--
	<div id='widget'>
		<svg viewBox='1 -8 85 85' preserveAspectRatio='xMidYMid meet' id='widgetSvg'>
			<g id='widgetField'>
				<path id='zoomInCover'/>
				<use href='#zoomInCover' transform-origin='39.7 39.7' transform='rotate(90)'/>
				<path id='widgetFieldColor' transform-origin='39.7 257.3'/>
			</g>
			<g id='switcher'>
				<path id='switcherFieldCover'/>
				<path id='switcherField'/>
			</g>
			<path id='switchWidgetCondition'/>
			<g id='actionThumbs'>
				<path id='zoomOut'/>
				<use id='zoomIn' href='#zoomOut' transform-origin='39.7 39.7' transform='rotate(90)'/>
				<path id='moveLeft'/>
				<use id='moveTop' href='#moveLeft' transform-origin='39.7 39.7' transform='rotate(90)'/>
				<use id='moveRight' href='#moveLeft' transform-origin='39.7 39.7' transform='rotate(180)'/>
				<use id='moveBottom' href='#moveLeft' transform-origin='39.7 39.7' transform='rotate(270)'/>
			</g>
		</svg> 
	</div>
-->
	<div id='overlay' @click='closeBio()'></div>
	<div id='modal' v-if='currentPerson!=null'>
		<div id='cross' @click='closeBio()'>
			<svg viewBox='-10 -10 70 70' preserveAspectRatio='xMidYMid meet'>
				<path d='M 0,0 l 50,50 M 50,0 l -50,50'/>
			</svg>
		</div>
		<div id='imageWrapper'>
			<img :src='"assets/images/treeIcons/"+currentPerson+".png"' width='120px'/>	
		</div>
		<div id='name'>
			<h1 v-if='bios[currentPerson].surname!=null'>{{ bios[currentPerson].surname }} {{ bios[currentPerson].name }} {{ bios[currentPerson].middlename }}</h1>
		</div>
		<div id='birth'>
			<p v-if='bios[currentPerson].birth!=null'>{{ bios[currentPerson].birth }} {{ bios[currentPerson].birthPlace }}</p>
		</div>
		<div id='death'>
			<p v-if='bios[currentPerson].deathPlace!=null'> {{ bios[currentPerson].death }} {{ bios[currentPerson].deathPlace }}</p>
		</div>
		<div id='education' v-if='bios[currentPerson].education!=null'>
			<p>Образование: {{ bios[currentPerson].education }}</p>
		</div>
		<div id='work' v-if='bios[currentPerson].profession!=null'>
			<p>Профессии: {{ bios[currentPerson].profession }}</p>
		</div>
		<div id='hobbie' v-if='bios[currentPerson].hobbie!=null'>
			<p>Увлечения: {{ bios[currentPerson].hobbie }}</p>
		</div>
		<div id='bio' v-if='bios[currentPerson].bio!=null'>
			<p>{{ bios[currentPerson].bio }}</p>
		</div>
	</div>
	<div id='modal' v-else></div>
</div>

<script type='text/javascript' src='assets/data/bios.js'></script> 
<script type='text/javascript' src='assets/data/widgetData.js'></script> 
<script>
var preventModal=false;

const app = {
	data() {
		return {
			treeData: treeData,
			currentPerson: 'ivanitskayaAnna',
			bios: personsData
		}
	},
	methods: {
		openBio(id) {
			if (preventModal==false) {
				this.currentPerson = id;
				document.getElementById('overlay').style.display='block';
				document.getElementById('modal').style.display='flex';
			}
		},
		closeBio() {
			document.getElementById('overlay').style.display='none';
			document.getElementById('modal').style.display='none';
		}
	}
};

Vue.createApp(app).mount('#app');

/*
//CREATE WIDGET
for (const item in widgetData) {
	document.getElementById(item).setAttribute('d',widgetData[item]);
}
*/

var tree = document.getElementById('wrapper');
var root_style = getComputedStyle(document.documentElement);
var overlay = document.getElementById('overlay');


//EVENTS


window.addEventListener('wheel',e => {
	if (overlay.style.display!='block') {
		let tree_scale = parseFloat(root_style.getPropertyValue('--tree-scale')),
				tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
				tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos')),
				win_width = window.innerWidth,
				win_height = window.innerHeight,
				cursor_x = e.clientX,
				cursor_y = e.clientY;
		if (e.deltaY<0&&tree_scale<=5) {
			document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos-(cursor_x-win_width/2)/10));
			document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos-(cursor_y-win_height/2)/10));
			document.documentElement.style.setProperty('--tree-scale', tree_scale+.2);
		}
		else if (e.deltaY>0&&tree_scale>.2) {
			document.documentElement.style.setProperty('--tree-scale', tree_scale-.2);
		}
	}
});


window.addEventListener('mousedown',e => {
	let cursor_x_start = e.clientX,
			cursor_y_start = e.clientY;
			tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
			tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos'));
	window.onmousemove = (e) => {
		document.documentElement.style.cursor='move';
		preventModal=true;
		let translation_x = e.clientX-cursor_x_start,
				translation_y = e.clientY-cursor_y_start;
		document.documentElement.style.setProperty('--tree-x-pos', (tree_x_pos+translation_x));
		document.documentElement.style.setProperty('--tree-y-pos', (tree_y_pos+translation_y));
	};
});

document.getElementById('actionThumbs').addEventListener('click',(e)=>{
	widgetAction(e.target.id);
},false);
document.getElementById('switchWidgetCondition').addEventListener('click',()=>{
	
	let widgetStatus = document.getElementById('switcher').classList.contains('widgetActive'),
			widgetActions = ['widgetField','actionThumbs'],
			switcherElmnts = ['switcher','switchWidgetCondition'];
	if (widgetStatus==true) {
		widgetActions.map(item => {
			document.getElementById(item).classList.toggle('widgetActive');
		});
		setTimeout(()=>{
			switcherElmnts.map(item => {
				document.getElementById(item).classList.toggle('widgetActive');
			});
		},250);
		
	}
	else {
			switcherElmnts.map(item => {
				document.getElementById(item).classList.toggle('widgetActive');
			});
		setTimeout(()=>{
		widgetActions.map(item => {
			document.getElementById(item).classList.toggle('widgetActive');
		});
		},250);
	}

});

window.addEventListener('mouseup',e => {
	window.onmousemove = null;
	setTimeout(()=>{preventModal=false;},400);
	document.documentElement.style.cursor='default';
});

window.addEventListener('keydown',(e)=>{
	let overlayStatus = document.getElementById('overlay').style.display;
	if (overlayStatus!='block') {
	  switch(e.keyCode) {
			case 38:
				widgetAction('moveTop');
				break;
			case 40:
				widgetAction('moveBottom');
				break;
			case 37:
				widgetAction('moveLeft');
				break;
			case 39:
				widgetAction('moveRight');
				break;
			case 32:
				widgetAction('zoomIn');
				break;
			case 107:
				widgetAction('zoomIn');
				break;
			case 109:
				widgetAction('zoomOut');
				break;
			default:
				break;
		}
	}
},false);


//ДОБАВИТЬ ЦЕНТРОВКУ ПО КУРСОРУ ПРИ ЗУМЕ С КЛАВЫ ИЛИ ВИДЖЕТА И ВООБЩЕ, СВЕСТИ ВСЁ К ОДНОЙ ФУНКЦИИ!!!!!!!1111
const widgetAction = (id) => {
	let tree_scale = parseFloat(root_style.getPropertyValue('--tree-scale')),
			tree_x_pos = parseFloat(root_style.getPropertyValue('--tree-x-pos')),
			tree_y_pos = parseFloat(root_style.getPropertyValue('--tree-y-pos'));
	/*
	if (!isFinite(tree_scale&&tree_x_pos&&tree_y_pos)&&isNaN(tree_scale&&tree_x_pos&&tree_y_pos)) {
		alert(Math.round(tree_scale),tree_x_pos,tree_y_pos);
		document.documentElement.style.setProperty('--tree-x-pos', '0');
		document.documentElement.style.setProperty('--tree-y-pos', '0');
		document.documentElement.style.setProperty('--tree-scale', '1');
	}
	*/
	switch(id) {
		case 'zoomOut':
			if (tree_scale>.2){
				document.documentElement.style.setProperty('--tree-scale', tree_scale-.2);
			}
			break;
		case 'zoomIn':
			if (tree_scale<5){
				document.documentElement.style.setProperty('--tree-scale', tree_scale+.2);
			}
			break;
		case 'moveLeft':
			document.documentElement.style.setProperty('--tree-x-pos', Math.round(tree_x_pos+200/tree_scale));
			break;
		case 'moveTop':
			document.documentElement.style.setProperty('--tree-y-pos', Math.round(tree_y_pos+200/tree_scale));
			break;
		case 'moveRight':
			document.documentElement.style.setProperty('--tree-x-pos', Math.round(tree_x_pos-200/tree_scale));
			break;
		case 'moveBottom':
			document.documentElement.style.setProperty('--tree-y-pos', Math.round(tree_y_pos-200/tree_scale));
			break;
		default:
			console.log('hm...something wrong...',id);
			break;
	}
}

</script>
</body>
</html>