<!DOCTYPE html>
<html>
<head>
	<title>three</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'> 
	<link rel='stylesheet' type='text/css' href='assets/css/style.css'>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<div id='app'>
	<div id='wrapper'>
		<svg id='tree' viewBox='-450 1100 2500 1350' preserveAspectRatio='xMidYMax meet'>
			<g v-for='descent in treeData'>
				<path v-bind:d='descent.branches'/>
				<g class='icons'>
					<image width='120' v-for='(icon, i) in descent.icons' v-bind:href='"assets/images/treeIcons/"+icon+".png"' v-bind:x='descent.startPos[0]+200*i' v-bind:y='descent.startPos[1]' @click='openBio(icon)'/>
				</g>
			</g>
		</svg>
	</div>
	<div id='overlay' @click='closeBio()'></div>
	<div id='modal' v-if='currentPerson!=null'>
		<div id='cross' @click='closeBio()'>
			<svg viewBox='-10 -10 70 70' preserveAspectRatio='xMidYMid meet'>
				<path d='M 0,0 l 50,50 M 50,0 l -50,50'/>
			</svg>
		</div>
		<div id='imageWrapper'>
			<img :src='"assets/images/treeIcons/"+currentPerson+".png"' width='120px'/>	
		</div>
		<div id='name'>
			<h1 v-if='bios[currentPerson].surname!=null'>{{ bios[currentPerson].surname }} {{ bios[currentPerson].name }} {{ bios[currentPerson].middlename }}</h1>
		</div>
		<div id='birth'>
			<p v-if='bios[currentPerson].birth!=null'>{{ bios[currentPerson].birth }} {{ bios[currentPerson].birthPlace }}</p>
		</div>
		<div id='death'>
			<p v-if='bios[currentPerson].deathPlace!=null'> {{ bios[currentPerson].death }} {{ bios[currentPerson].deathPlace }}</p>
		</div>
		<div id='education' v-if='bios[currentPerson].education!=null'>
			<p>Образование: {{ bios[currentPerson].education }}</p>
		</div>
		<div id='work' v-if='bios[currentPerson].profession!=null'>
			<p>Профессии: {{ bios[currentPerson].profession }}</p>
		</div>
		<div id='hobbie' v-if='bios[currentPerson].hobbie!=null'>
			<p>Увлечения: {{ bios[currentPerson].hobbie }}</p>
		</div>
		<div id='bio' v-if='bios[currentPerson].bio!=null'>
			<p>{{ bios[currentPerson].bio }}</p>
		</div>
	</div>
	<div id='modal' v-else></div>
</div>

<script type='text/javascript' src='assets/data/bios.js'></script>
<script type='text/javascript' src='assets/data/widget.js'></script>
<script>
var preventModal=false;

const app = {
	data() {
		return {
			treeData: treeData,
			currentPerson: 'ivanitskayaAnna',
			bios: personsData
		}
	},
	methods: {
		openBio(id) {
			if (preventModal==false) {
				this.currentPerson = id;
				document.getElementById('overlay').style.display='block';
				document.getElementById('modal').style.display='flex';
			}
		},
		closeBio() {
			document.getElementById('overlay').style.display='none';
			document.getElementById('modal').style.display='none';
		}
	}
};
Vue.createApp(app).mount('#app');
createWidget();
</script>
</body>
</html>